body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #feffff;
}

.main-title {
  text-align: left;
  width: 90%;
  max-width: 1200px;
  margin: 40px 0 20px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #111827;
}

.frame {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 300px;
  gap: 10px;
  position: relative;
}

.card {
  flex: 1;
  border-radius: 16px;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: flex 0.6s ease, transform 0.5s ease;
  position: relative;
  overflow: hidden;
}

.card1 { background: linear-gradient(135deg, #E63946, #E63946); flex: 7.5;}
.card2 { background: linear-gradient(135deg, #7bfbff, #68e1e6); flex: 1.5;}
.card3 { background: linear-gradient(135deg, #1D3557, #1D3557); flex: 1;}

.card h2 {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}

.card p {
  font-size: 0.95rem;
  margin: 0;
  line-height: 1.4;
}

.card .number {
  font-size: 3rem;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  right: 20px;
  opacity: 0.5;
}
